# Database
DATABASE_URL="file:./dev.db"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Production Settings (Vercel)
# DATABASE_URL="postgresql://user:password@host:port/database"
# NEXTAUTH_URL="https://your-app.vercel.app"
# NEXTAUTH_SECRET="generate-a-secure-secret"
